<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hanhuy.android.bluetooth.keyguard"
      android:versionCode="17"
      android:versionName="2.2.7">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" android:maxSdkVersion="20"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:name=".ApplicationContext"
                 android:icon="@drawable/app_icon"
                 android:label="@string/app_name">
        <activity android:name=".MainActivity"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PasswordActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:theme="@style/Theme.AppCompat.Light" />

        <receiver android:name="BluetoothAclBroadcastReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED"/>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="BluetoothStateBroadcastReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <!-- generic receiver for invoking notifyStateChange() -->
        <receiver android:name=".NotifyStateChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".AdminReceiver"
                  android:label="@string/app_name"
                  android:description="@string/device_manager_description"
                  android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                       android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <service android:name=".KeyguardService" />
    </application>
</manifest>
